ol{
    background-color: yellow;
}
ol li:nth-of-type(even) {
    color: green;
}
ol li:nth-of-type(odd){
    text-transform: uppercase;
}

h1 , h2 , h3 , h4 , h5 , h6  {
    color: red;
    
}

h1 em , h2 em , h3 em , h4 em , h5 em , h6 em {
    font-size: 40px;
    border: 1px solid black;
}

ol li, ul li {
    font-size: 20px;
}

ol li em, ul li em {
    font-weight: 600;
}

ul:nth-of-type(1) li:nth-of-type(1){
    color: blue;
}
ul:nth-of-type(1) li:nth-of-type(2){
    color: blue;
}
ul:nth-of-type(1) li:nth-of-type(3){
    color: blue;
}

.java {
    background-color: pink;
}

ul li:nth-of-type(1) a:hover {
    font-weight: 600;
    color: orange;
}

ul li:nth-of-type(2) a:hover {
    font-weight: 600;
    color: green;
}

ul li:nth-of-type(3) a:hover {
    font-weight: 600;
    color: black;
}

ul li:nth-of-type(4) a:hover {
    font-weight: 600;
    color: yellow;
}

ul li:nth-of-type(5) a:hover {
    font-weight: 600;
    color: green;
}